/*Estilos header*/

header {
	background: var(--header-background);
}
header {
	height: 100px;
}
header .contenedor {
	display: flex;
	justify-content: space-between;
}
.logo {
	margin: 5px;
	width: 175px;
	height: 90px;
}
.logo-link {
	color: var(--menu-color);
}
.iconos {
	position: absolute;
	margin: 8px;
	right: 2px;
}
.icon-home, .icon-menu, .icon-config, .icon-login, .icon-logout {
	display: inline-block;
	width: 30px;
	height: 30px;
	font-size: 25px;
	text-align: center;
	color: var(--menu-color);
	cursor: pointer;
}
.icon-logout {
	display: none;
}

/*Estilos menu*/

.nav {
	position: absolute;
	top: 100px;
	left: -100%;
	width: 100%;
	transition: all 0.4s;
}
.menu {
	list-style: none;
}
.menu-link {
	display: block;
	padding: 15px;
	background: var(--menu-alter-color);
	color: var(--menu-color);
}

.submenu {
	display: none;
	list-style: none;
	position: relative;
	z-index: 1;
}
.submenu-link {
	display: block;
	padding: 8px 5px;
	background: var(--menu-alter-color);
	color: var(--menu-color);
}

.menu-link:hover, .submenu-link:hover, .select {
	background: var(--menu-color);
	color: var(--menu-alter-color);
}

.mostrar-menu {
	left: 0;
}

@media (min-width: 1024px) {
	.iconos {
		right: 10px;
	}
	.icon-menu {
		display: none;
	}
	.nav {
		position: static;
		margin-top: 50px;
		width: auto;
	}
	.menu {
		display: flex;
	}
	.menu-link {
		background: none;
		font-size: 20px;
	}
	
	/* Fondo menu-item Opción 1 */
	.menu-item:hover, .select {
		background: var(--menu-alter-color);
		color: var(--menu-color);
	}
	/**/
	/* Fondo menu-item Opción 2
	.menu-item:hover .menu-link {
		background: var(--menu-color);
		color: var(--menu-alter-color);
	}
	.select {
		background: var(--menu-alter-color);
		color: var(--menu-color);
	}
	*/
	.menu-link:hover + .submenu {
		display: block;
	}
	.submenu:hover {
		display: block;
	}
}